<div class="question-card animate-on-scroll" data-animation="scale-in" id="question-card">
    <div class="question-number">سوال {{ question_index }} از {{ total_questions }}</div>
    <div class="question-text">{{ question.question_text }}</div>
    
    <form id="answer-form">
        <input type="hidden" name="question_id" id="question_id" value="{{ question.id }}">
        <input type="hidden" name="current_question_index" id="current_question_index" value="{{ question_index }}">
        
        <div class="radio-options">
            <label class="radio-option">
                كاملاً مخالفم
                <input type="radio" name="response" value="1" required>
                <span class="radio-checkmark"></span>
            </label>
            
            <label class="radio-option">
                مخالفم
                <input type="radio" name="response" value="2">
                <span class="radio-checkmark"></span>
            </label>
            
            <label class="radio-option">
                خنثي
                <input type="radio" name="response" value="3">
                <span class="radio-checkmark"></span>
            </label>
            
            <label class="radio-option">
                موافقم
                <input type="radio" name="response" value="4">
                <span class="radio-checkmark"></span>
            </label>
            
            <label class="radio-option">
                كاملاً موافقم
                <input type="radio" name="response" value="5">
                <span class="radio-checkmark"></span>
            </label>
        </div>
        
        <div class="text-center" style="margin-top: 2rem;">
            <button id="submit-answer-btn" type="button" class="btn btn-hover-effect" disabled>سوال بعدی</button>
        </div>
    </form>
</div>